* {
  margin: 0;
  padding: 0;
  font-family: courier, arial, helvética;
}

body {
  background: rgb(0, 238, 255);
}

#button {
  padding: 10px;
}

#button li {
  display: inline;
}

#button li a {
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;

  padding: 10px;
  background-color: #2175bc;
  color: #fff;
}

#button li a:hover {
  background-color: #2586d7;
  margin-top: -2;
  padding-bottom: 15px;
}

.logo {
  background-color: rgb(229, 206, 245);
  width: 400px;
  border-radius: 10px;
}

.main {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: crimson;
}

.info p {
  width: 300px;
  background-color: rgb(235, 191, 200);
}

.info {
  padding: 5px;
  background-color: black;
}

.slides {
  width: 100%;
  padding: 5px;
  position: relative;
}

.slides img {
  height: 100%;
}

.slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li {
  float: left;
}

.slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.slidesjs-pagination li a:hover {
  background: #000;
}

.slides .active {
  background: #000;
}

.icon-play3:before {
  content: "\ea1c";
}

.icon-pause2:before {
  content: "\ea1d";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-left:before {
  content: "\ea44";
}

.slidesjs-navigation {
  background: #000;
  color: #fff;
  text-decoration: none;

  padding: 13.5px 20px;
  float: right;
}
