* {
  margin: 0;
  padding: 0;
  font-family: courier, arial, helvética;
}

body {
  background-image: radial-gradient(
    circle at 50% 50%,
    #AFEEEE 0,
    #7FFFD4 25%,
    #40E0D0 50%,
    #48D1CC 75%,
    #00CED1 100%
  );
}

#button {
  padding: 10px;
}

#button li {
  display: inline;
}

#button li a {
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;

  padding: 10px;
  background-color: #2175bc;
  color: #fff;
}

#button li a:hover {
  background-color: #2586d7;
  margin-top: -2;
  padding-bottom: 15px;
}

.logo {
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
}
.logo:hover{
  width: 450px;
  height: 125px;
}

.main {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #483D8B;
}

.info p {
  width: 97%;
  margin: 5px;
  padding: 14.5px;
  background-color: rgb(235, 191, 200);
}

.info {
  width: 70%;
  padding: 5px;
  background-color: #483D8B;
}

.slides {
  width: 100%;
  padding: 5px;
  position: relative;
}



.slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li {
  float: left;
}

.slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.slidesjs-pagination li a:hover {
  background: #000;
}

.slides .active {
  background: #000;
}

.icon-play3:before {
  content: "\ea1c";
}

.icon-pause2:before {
  content: "\ea1d";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-left:before {
  content: "\ea44";
}

.slidesjs-navigation {
  background: #000;
  color: #fff;
  text-decoration: none;

  padding: 13.5px 20px;
  float: right;
}
footer{
  padding: 1%;
  width: 100%;
  background-color: rgba(142, 68, 173, 0.2);
  border-radius: 3%;
}
.servicios{
  width: 70%;
  background-color: rgba(142, 68, 173, 0.2);
  border-radius: 3%;
}
.text-a {
  text-decoration: line-through;
}