* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
    circle at 50% 50%,
    #AFEEEE 0,
    #7FFFD4 25%,
    #40E0D0 50%,
    #48D1CC 75%,
    #00CED1 100%
  );
}
#button {
  padding: 10px;
}

#button li {
  display: inline;
}

#button li a {
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;

  padding: 10px;
  background-color: #2175bc;
  color: #fff;
}

#button li a:hover {
  background-color: #2586d7;
  margin-top: -2;
  padding-bottom: 15px;
}
.mision {
  padding: 5%;
  width: 70%;
  background-color: rgba(142, 68, 173, 0.2);
  border-radius: 3%;
}
.mision p {
  text-align: justify;
}
.vision {
  padding: 5%;
  width: 70%;
  background-color: rgba(142, 68, 173, 0.2);
  border-radius: 3%;
}
.vision p {
  text-align: justify;
}
.logo {
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
}
.logo:hover{
  width: 450px;
  height: 125px;
}
footer{
  padding: 1%;
  width: 70%;
  background-color: rgba(142, 68, 173, 0.2);
  border-radius: 3%;
}